td,
th {
  border: 1px solid orange;
}

th {
  background: orange;
  padding: 15px 50px;
}

td {
  background: darkblue;
  color: white;
  padding: 15px 5px;
}

button {
  width: 180px;
  margin: 10px 0;
}
